/* .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 300px;
    height: 500px;
    font-size: 2rem;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }
    .div10 { grid-area: 4 / 1 / 5 / 2; }
    .div11 { grid-area: 4 / 2 / 5 / 4; }
    .div12 { grid-area: 1 / 4 / 2 / 5; }
    .div13 { grid-area: 2 / 4 / 3 / 5; }
    .div14 { grid-area: 3 / 4 / 4 / 5; }
    .div15 { grid-area: 4 / 4 / 5 / 5; }


    .textArea {
        width: 300px;
    }

    .container {
        display:flex;
        justify-content:center;
        align-items: center;
        width: 650px;
        height: 850px;
        flex-direction: column;
    }

    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div13, .div14, .div15 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: lightgray;
        border: 1px solid black;
    }
     */


     .container {
        display:flex;
        justify-content:center;
        align-items: center;
        width: 650px;
        height: 850px;
        flex-direction: column;

     }

     .inp-cont {
        display:flex;
        gap:50px;
     }

     .function-cont {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:80px;
        padding:15px;
        
     }

     .add, .sub, .division, .mult {
        border:1px solid black;
        padding:5px;
     }

     .res {
        border:1px solid black;
        width:120px;
        height:50px;
     }